.Home {
  background-color: #fca171;
  height: 100vh;
  text-align: center;
}

.Home-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-title {
  margin-top: 40px;
}

.Home-name{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.Home-nameBeitext{
  margin-top: 0;
}

.Home-zitatBild{
  margin-top: 60px;
  width: 450px;
  height: auto;
}

.Home-zitat{
  margin-top: -270px;
  font-size: 35px;
}

.hamburger {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 40px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Header-profil{
  margin-top: -100px;
  max-width: 15%;
  height: auto;
}
